@model TimeLine.Models.Event

<html>
<head>
    <title>To Do List - Create</title>
</head>
<body>
    <h2>Create</h2>
    <hr />
    <h4>Add a new task</h4>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Date)
        @Html.TextBoxFor(model => model.Date)
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(mode => Model.Title)
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description)
        <input type="submit" value="Add a new historical event" />

    }
    <p>@Html.ActionLink("Back to Events List", "Index")</p>
</body>
</html>